<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKPcmI1bf6JzIgggHol2N7Sj5XFowjmGw</string>
	<key>GCM_SENDER_ID</key>
	<string>327085151675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kihyuk.IosPr-Gram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-2ab19</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-2ab19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327085151675:ios:b855ce551744ba78b6609e</string>
</dict>
</plist>